@charset "utf-8";
/* CSS Document */
/*.logo-square {
  height: 120px;
	width: 120px;
  position: absolute;
  text-align: center;
  align-items: center;
  left: 3%;
  z-index: 10;
  top:3%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  line-height: 50px;
  font-size:24px;
  font-weight:bold;
  letter-spacing:0px;
	background: #42A9FF;
  color: #505050;
  font-family: 'Nanum Gothic', sans-serif;
}

.logo-square:hover {
  background-color: black;
  color: white;
}*/


@font-face { font-family: Varta; src: url('Varta-ExtraBold.ttf'); }

@font-face { font-family: Varta; src: url('Khula-Light.ttf'); }

@font-face { font-family: Varta; src: url('Khula-Regular.ttf'); }

@font-face { font-family: Varta; src: url('Khula-Bold.ttf'); }


@font-face { font-family: Khula; src: url('Khula-SemiBold.ttf'); }



@font-face { font-family: Varta; src: url('Gadugi-Regular.ttf'); }



@font-face { font-family: Varta; src: url('Open Sans-Regular.ttf'); }

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  head{
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  head {
    flex-direction: column;
  }
}
/*
#slideSource {
  opacity: 1;
  transition: opacity 1s;
}

#slideSource.fade {
  opacity: 0;
}*/



/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 3px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 3px;
  background: #4caf50;
  width: 0%;
}



.initials {
  position: absolute;
  z-index: 10;
  top:12%;
  margin-left: 10%;
  display: flex;
  line-height: 50px;
  font-size:45px;
  font-weight:500;
  letter-spacing:0px;

  color: #505050;
  font-family: 'Nanum Gothic', sans-serif;
  text-decoration: none;
}
.initials:hover {
  -webkit-text-stroke: 1px #42A9FF;
  color: white;
  text-decoration: none;
}


.navbar{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
font-size: 20px;
  list-style: none;
margin-right:5%;
  word-spacing: 5%;



}

.navbar-nav > li{
  padding-left:25px;
  padding-right:25px;

}

.navbar-toggler {
  border: 0px solid transparent;
  border-radius: 0.25rem;

}



.introduction {
  /*font-family: 'Nanum Gothic', sans-serif;*/
  font-family: 'Khula', sans-serif;


  font-size:15px;
  margin-top: 5%;

  line-height: 20px;
  color: #3b3b3b;


}
.introduction2 {
  /*font-family: 'Nanum Gothic', sans-serif;*/
  font-family: 'Khula', sans-serif;

  font-size:30px;
  margin-top: 5%;
  font-weight: bold;
  line-height: 20px;
  color: #3b3b3b;


}
.profile{
  margin-top:40%;
  margin-left:-15%;
  -webkit-transform: rotate(90deg);


}
mark.pa{
  font-family: 'Khula', sans-serif;
  background:none;
  color: #3b3b3b;
  font-weight:600;
  font-size:15px;
  line-height: 25px;

}
/* Popup container */
.popup {
  position: relative;
  display: inline-block;

  cursor: pointer;
  font-family: 'Khula', sans-serif;
  font-weight: 800;
  font-size:10px;
  color:#b9babb;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  font-family: 'Khula', sans-serif;
  font-weight: 400;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

mark.blue {
    color:#047AFF;
    background: none;
    background: -webkit-linear-gradient(#B993D6, #3a7bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    font-family: 'Khula', sans-serif;
    font-weight: 700;


}
mark.yellow {
    /*background-color:#f7ffe5;*/
    background: none;
  font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size:13px;
    color:#3a7bd5;

}

mark.pink {
  /*  background:#ffe5f2;*/
  font-family: 'Open Sans', sans-serif;
    font-weight: 600;
      background: none;
      font-size:13px;
      color:#3a7bd5;
}
mark.purp{
  /*  background: #ebe5ff;*/
  font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size:13px;
      background: none;
      color:#3a7bd5;

}


mark.thin {
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    /*background:#e5f3ff;*/
      background: none;
font-size:13px;
      color:#3a7bd5;

}

mark.bigger {
  font-size: 40px;
  background: none;
  color:#3b3b3b;


}

body{

  overflow-x:hidden;

}

.form-group{
  font-family: 'Khula', sans-serif;
  font-weight: 600;


  font-size: 30px;

  position:absolute;
  background:none;
  line-height: 35px;
  text-decoration: none;



}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}





mark.paragraph1 {

  font-family: 'Khula', sans-serif;
  margin-top:10%;
  font-size: 15px;
  overflow: hidden;
  font-weight:400;
line-height: 25px;
  background:none;
  color: #3b3b3b;

}
.para{
  font-family: 'Gadugi', sans-serif;
  margin-top:10%;
  margin-left:-17%;
  font-size: 15px;
  overflow: hidden;
  font-weight:400;
line-height: 25px;
  background:none;
  color: #3b3b3b;
}

.para2{
  font-family: 'Khula', sans-serif;
margin-top:-40%;
  margin-left:40%;
  font-size: 15px;
  overflow: hidden;
  font-weight:400;
line-height: 25px;
  background:none;
  color: #3b3b3b;
}


.para3{
  font-family: 'Khula', sans-serif;
margin-top:-80%;
  margin-left:25%;
  font-size: 15px;
  overflow: hidden;
  font-weight:400;
line-height: 25px;
  background:none;
  color: #3b3b3b;
}

.para4{
  font-family: 'Khula', sans-serif;

  margin-left: 15%;
  margin-top:-70%;
  font-size: 15px;
  overflow: hidden;
  font-weight:600;
line-height: 25px;
  background:none;
  color:#3a7bd5;
}

.para44{
  font-family: 'Khula', sans-serif;

  margin-left:15%;
  margin-top:0%;
  font-size: 13px;
  overflow: hidden;
  font-weight:400;
line-height: 25px;
  background:none;
  color: #3b3b3b;
}


.para45{
  font-family: 'Khula', sans-serif;

  margin-left:15%;
margin-top:5%;
  font-size: 15px;
  overflow: hidden;
  font-weight:600;
line-height: 25px;
  background:none;
  color:#3a7bd5;
}
.vid{
  margin-left:15%;
margin-top:5%;
}

.logobox4{

    margin-left: -220%;
    margin-top:-290%;

}
.logobox2{

  margin-left: -10%;
  margin-top:-290%;
}

.logobox{

  margin-left: 80%;
  margin-top:-290%;
}
.logobox3{
  margin-left: -80%;
  margin-top:-290%;
}
mark.blue{


    font-family: 'Khula', sans-serif;


    font-size: 15px;
    overflow: hidden;
    font-weight:600;

    background:none;
    color:#3a7bd5;
  }
}
