@charset "utf-8";
/* CSS Document */
.initials {
  position: absolute;
  z-index: 10;
  top:12%;
  margin-left: 5%;
  display: flex;
  line-height: 50px;
  font-size:45px;
  font-weight:bold;
  letter-spacing:0px;
  color: #505050;
  font-family: 'Nanum Gothic', sans-serif;
  text-decoration: none;
}
.initials:hover {
  -webkit-text-stroke: 1px #42A9FF;
  color: white;
    text-decoration: none;
}



#menu {
    width: 550px;
    height: 35px;
    font-size: 20px;
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    text-align: center;
    list-style: none;
    margin-left: 60%;
    margin-top: 8%;
    word-spacing: 50px;
}

    #menu ul {
      height: auto;
      padding: 8px 0px;
      margin: 0px;
    }

    #menu li {
    display: inline;
    padding: 10px;
    }

    #menu a {
    text-decoration: none;
    color: #505050;
    padding: 8px 8px 8px 8px;
}

    #menu a:hover {
    color: #42A9FF;
    background-color: #FFF;
}

body{

  overflow-x:hidden;
}

.intro{
  font-size: 30px;
  color: #505050;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align:center;
  position: absolute;
  margin-left: 45%;
  margin-top: 10%;


}


.lower{
  font-size: 12px;
  font-family: 'Cantarell', sans-serif;
  margin-left: 45.6%;
  margin-top: 17%;
  color: #505050;
  background:none;
  line-height: 25px;
  width: 45%;
  margin: 10 auto;
  font-weight:800;

}

.lower2{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 45.6%;
  margin-top: 1%;
  color: #808080;
  background:none;
  line-height: 30px;
  width: 45%;
  margin: 10 auto;
}

.profile{
  margin-left: 6%;
  margin-top:-69%;
  position: absolute;
  float:left;


}

.bold{
  font-size: 12px;
  font-family: 'Cantarell', sans-serif;
  margin-left: 45.6%;
  margin-top: 1%;
  color: #505050;
  background:none;
  line-height: 25px;
  width: 45%;
  margin: 10 auto;
  font-weight:400;


}


.blue{
  font-weight:800;
  color:#42A9FF;
  background:none;
  font-size:14px;


}

.logobox{
    position:absolute;
    margin-left: 18%;
    margin-top: -45%;    /* if you want it vertically middle of the navbar. */

}


.logobox2 {
    position:absolute;
    margin-left: 21%;
    margin-top: -45%;
  }


.logobox3 {
  position:absolute;
  font-size: 12px;
  font-family: 'Cantarell', sans-serif;
  font-weight:800;

    margin-left: 24%;
    margin-top: -45%;    /* if you want it vertically middle of the navbar. */
}

.line{
  width: 450px;
height: 47px;
border-bottom: 0.5px solid black;
position: absolute;
margin-top:-45%;
margin-left:6%;
}


.text{
  position:absolute;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color: #505050;
    margin-left: 14%;
    margin-top: -38%;


}

.vid{
  margin-left: 6%;
  margin-top: -34%;

    position:absolute;
}


.logobox4 {
  position:absolute;

    margin-left: 29%;
    margin-top: -45%;    /* if you want it vertically middle of the navbar. */
}
