@charset "utf-8";
/* CSS Document */
/*.logo-square {
  height: 120px;
	width: 120px;
  position: absolute;
  text-align: center;
  align-items: center;
  left: 3%;
  z-index: 10;
  top:3%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  line-height: 50px;
  font-size:24px;
  font-weight:bold;
  letter-spacing:0px;
	background: #42A9FF;
  color: #505050;
  font-family: 'Nanum Gothic', sans-serif;
}

.logo-square:hover {
  background-color: black;
  color: white;
}*/


@font-face { font-family: Varta; src: url('Varta-ExtraBold.ttf'); }

@font-face { font-family: Varta; src: url('Khula-Light.ttf'); }

@font-face { font-family: Varta; src: url('Khula-Regular.ttf'); }

@font-face { font-family: Varta; src: url('Khula-Bold.ttf'); }


@font-face { font-family: Khula; src: url('Khula-SemiBold.ttf'); }



@font-face { font-family: Varta; src: url('Gadugi-Regular.ttf'); }



@font-face { font-family: Varta; src: url('Open Sans-Regular.ttf'); }

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  head{
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  head {
    flex-direction: column;
  }
}
/*
#slideSource {
  opacity: 1;
  transition: opacity 1s;
}

#slideSource.fade {
  opacity: 0;
}*/



/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 3px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 3px;
  background: #4caf50;
  width: 0%;
}



.initials {
  position: absolute;
  z-index: 10;
  top:12%;
  margin-left: 10%;
  display: flex;
  line-height: 50px;
  font-size:45px;
  font-weight:500;
  letter-spacing:0px;

  color: #505050;
  font-family: 'Nanum Gothic', sans-serif;
  text-decoration: none;
}
.initials:hover {
  -webkit-text-stroke: 1px #42A9FF;
  color: white;
  text-decoration: none;
}


.navbar{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
font-size: 20px;
  list-style: none;
margin-right:5%;
  word-spacing: 5%;



}

.navbar-nav > li{
  padding-left:25px;
  padding-right:25px;

}

.navbar-toggler {
  border: 0px solid transparent;
  border-radius: 0.25rem;

}



.introduction {
  /*font-family: 'Nanum Gothic', sans-serif;*/
  font-family: 'Khula', sans-serif;

  text-align: left;
  font-size:30px;
  margin-top: 5%;
  margin-left:5%;
  line-height: 20px;
  color: #3b3b3b;


}

.introduction2 {
  /*font-family: 'Nanum Gothic', sans-serif;*/
  font-family: 'Khula', sans-serif;

  text-align: left;
  font-size:15px;
  margin-top: 3%;
  margin-left:5%;
  line-height: 20px;
  color: #3b3b3b;


}
.introduction3 {
  /*font-family: 'Nanum Gothic', sans-serif;*/
  font-family: 'Khula', sans-serif;

  text-align: left;
  font-size:11px;
  margin-top: 3%;
  margin-left:5%;
  line-height: 20px;
  color: #3b3b3b;

}

mark.pa{
  font-family: 'Khula', sans-serif;
  background:none;
  color: #3b3b3b;
  font-weight:600;
  font-size:15px;
  line-height: 25px;

}
/* Popup container */
.popup {
  position: relative;
  display: inline-block;

  cursor: pointer;
  font-family: 'Khula', sans-serif;
  font-weight: 800;
  font-size:10px;
  color:#b9babb;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  font-family: 'Khula', sans-serif;
  font-weight: 400;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

mark.blue {
    color:#047AFF;
    background: none;
    background: -webkit-linear-gradient(#B993D6, #3a7bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    font-family: 'Khula', sans-serif;
    font-weight: 700;


}
mark.yellow {
    /*background-color:#f7ffe5;*/
    background: none;
  font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size:13px;
    color:#3a7bd5;

}

mark.pink {
  /*  background:#ffe5f2;*/
  font-family: 'Open Sans', sans-serif;
    font-weight: 600;
      background: none;
      font-size:13px;
      color:#3a7bd5;
}
mark.purp{
  /*  background: #ebe5ff;*/
  font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size:13px;
      background: none;
      color:#3a7bd5;

}


mark.thin {
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    /*background:#e5f3ff;*/
      background: none;
font-size:13px;
      color:#3a7bd5;

}

mark.bigger {
  font-size: 40px;
  background: none;
  color:#3b3b3b;


}

body{

  overflow-x:hidden;

}

.form-group{
  font-family: 'Khula', sans-serif;
  font-weight: 600;


  font-size: 30px;

  position:absolute;
  background:none;
  line-height: 35px;
  text-decoration: none;



}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}



#image1{


  margin-top: -20%;
  position:relative;


}

mark.paragraph1 {

  font-family: 'Khula', sans-serif;
  margin-top:10%;
  font-size: 15px;
  overflow: hidden;
  font-weight:400;
line-height: 25px;
  background:none;
  color: #3b3b3b;

}



.orange{
  background:#e5f3ff;
}




mark.paragraph2 {
    font-family: 'Khula', sans-serif;

    margin-top:20%;
    font-size: 15px;
    overflow: hidden;
    line-height: 25px;
    font-weight:400;
    color: #3b3b3b;
    background:none;

}

#hcdimage1{

  position:relative;



}



mark.paragraph3 {
    font-family: 'Khula', sans-serif;

    margin-top:30%;
    font-size: 15px;
    overflow: hidden;
    line-height: 25px;
    font-weight:400;
    color: #3b3b3b;
    background:none;

}

#image3{

  position:relative;
  margin-left:-12%;
  margin-top:10%;



}


mark.paragraph4 {
    font-family: 'Khula', sans-serif;

    font-size: 15px;
    overflow: hidden;
    line-height: 25px;
    color: #3b3b3b;
    font-weight:400;
    margin-top:30%;
    background:none;

}


#image4{

  position:relative;
  margin-left:-12%;
  margin-top:30%;



}
.g1{
  margin-left:5%;
  margin-top:5%;
}


.g2{
  margin-left:5%;
  margin-top:5%;
}

.g3{
  margin-left:5%;
  margin-top:5%;
}

.g4{
  margin-left:5%;
  margin-top:5%;
}

.introduction4 {
  /*font-family: 'Nanum Gothic', sans-serif;*/
  font-family: 'Khula', sans-serif;

  text-align: left;
  font-size:30px;
  margin-top: 8%;
  margin-left:2%;
  line-height: 20px;
  color: #3b3b3b;


}

.introduction5{
  /*font-family: 'Nanum Gothic', sans-serif;*/
  font-family: 'Khula', sans-serif;

  text-align: left;
  font-size:13px;
  margin-top: 3%;
  line-height: 20px;
  color: #3b3b3b;

}

.vid{

  margin-top:5%;
  margin-left:1%;
}
.vid2{
  margin-top:5%;
  margin-left:1%;
}
