@charset "utf-8";
/* CSS Document */
/*.logo-square {
  height: 120px;
	width: 120px;
  position: absolute;
  text-align: center;
  align-items: center;
  left: 3%;
  z-index: 10;
  top:3%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  line-height: 50px;
  font-size:24px;
  font-weight:bold;
  letter-spacing:0px;
	background: #42A9FF;
  color: #505050;
  font-family: 'Nanum Gothic', sans-serif;
}

.logo-square:hover {
  background-color: black;
  color: white;
}*/
.initials {
  position: absolute;
  z-index: 10;
  top:12%;
  margin-left: 5%;
  display: flex;
  line-height: 50px;
  font-size:45px;
  font-weight:bold;
  letter-spacing:0px;
  color: #505050;
  font-family: 'Nanum Gothic', sans-serif;
}
.initials:hover {
  -webkit-text-stroke: 1px #42A9FF;
  color: white;
}


#menu {
    width: 550px;
    height: 35px;
    font-size: 20px;
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    text-align: center;
    list-style: none;
    margin-left: 60%;
    margin-top: 8%;
    word-spacing: 50px;
}

    #menu ul {
      height: auto;
      padding: 8px 0px;
      margin: 0px;
    }

    #menu li {
    display: inline;
    padding: 10px;
    }

    #menu a {
    text-decoration: none;
    color: #505050;
    padding: 8px 8px 8px 8px;
}

    #menu a:hover {
    /*color: #FF8E70;*/
    color: #42A9FF;
    background-color: #FFF;
}

.introduction {
  /*font-family: 'Nanum Gothic', sans-serif;*/
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  text-align: left;
  margin-left: 10%;
  margin-top: 10%;
  color: #202020;

}

mark.blue {
    color:#42A9FF;
    background: none;
}

mark.thin {
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'Muli', sans-serif;
    background:#e5f3ff;
}

mark.bigger {
  font-size: 40px;
  background: none;


}
/*
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 148px;
    margin-top: 200px;

}


.column img {
    margin-top: 10px;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
*/
#workrec {
  position: absolute;
  height: 10px;
  width: 90px;
  background-color: #202020;
  margin-left: 11%;
  float: left;
  margin-top: 8%;
}

.workheadingbold {
  position: absolute;
  font-size: 25px;
  background: none;
  font-family: 'Nanum Gothic', sans-serif;
  float: right;
  margin-left: 19%;
  margin-top: 7%;
}

#work1{
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-left: 6%;
  margin-top: 7%;
  font-size: 40px;
  color: #202020;
  position:absolute;
  background:none;
  width: 90%;     /* specify a width! */
  margin: 10 auto;


}


#image1{
  margin-left: 60%;
  margin-top: 10%;
  position: absolute;
  float:left;
}

#paragraph1 {

  font-family: 'Muli', sans-serif;
  margin-left: 12%;
  margin-top: 20%;
  font-size: 17px;
  overflow: hidden;
  float: left;
  width: 40%;     /* specify a width! */
  margin: 10 auto;
}

.orange{
  background:#e5f3ff;
}



#work2{
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  margin-left:-44%;
  margin-top: 23%;
  font-size: 40px;
  color: #202020;
  text-decoration: none;
  text-align:right;
  position:absolute;
  float: left;
  width: 90%;     /* specify a width! */
  margin: 10 auto;
}

#paragraph2 {
    font-family: 'Muli', sans-serif;
    margin-left: -4%;
    margin-top: 54%;
    font-size: 17px;
    overflow: hidden;
    float: left;
    width: 40%;     /* specify a width! */
    margin: 10 auto;
    text-align: right;
}


#image3{
  margin-left:65%;
  margin-top: 70%;
  position: absolute;
  overflow: hidden;


}

#work3{
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-left: 6%;
  margin-top: 35%;
  font-size: 40px;
  color: #202020;
  position:absolute;
  background:none;
  width: 90%;     /* specify a width! */
  margin: 10 auto;


}

#paragraph3 {

  font-family: 'Muli', sans-serif;
  margin-left: 12%;
  margin-top: 16%;
  font-size: 17px;
  overflow: hidden;
  float: left;
  width: 40%;     /* specify a width! */
  margin: 10 auto;


}


#work4{
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  margin-left: -3%;
  margin-top: 90%;
  font-size: 40px;
  overflow: hidden;
  position:absolute;
  text-align: right;
  background:none;
  width: 90%;     /* specify a width! */
  margin: 10 auto;

}

#paragraph4 {

  font-family: 'Muli', sans-serif;
  margin-right: 12%;
  margin-top: 14%;
  font-size: 17px;
  overflow: hidden;
  float: right;
  width: 40%;     /* specify a width! */
  margin: 10 auto;
  text-align: right;

}
/*
.flex-container5{
  margin-top: 20%;
  margin-left: 57%;
  width: 40%;
  height: 500px;
  overflow:auto;
  background-color: #DFBBB1;
  opacity: 0.3;
  display: block;
}

#work5{
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  margin-left: 180px;
  margin-top: -420px;
  font-size: 40px;
  overflow: hidden;

}

#paragraph5 {

  font-family: 'Muli', sans-serif;
  margin-left: 180px;
  margin-top: 20px;
  margin-bottom: 20%;
  font-size: 17px;
  overflow: hidden;
  float: left;
}
*/
