@charset "utf-8";
/* CSS Document */
.initials {
  position: absolute;
  z-index: 10;
  top:12%;
  margin-left: 5%;
  display: flex;
  line-height: 50px;
  font-size:45px;
  font-weight:bold;
  letter-spacing:0px;
  color: #505050;
  font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
}
.initials:hover {
  -webkit-text-stroke: 1px #42A9FF;
  color: white;
    text-decoration: none;
}



#menu {
    width: 550px;
    height: 35px;
    font-size: 20px;
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    text-align: center;
    list-style: none;
    margin-left: 60%;
    margin-top: 8%;
    word-spacing: 50px;
}

    #menu ul {
      height: auto;
      padding: 8px 0px;
      margin: 0px;
    }

    #menu li {
    display: inline;
    padding: 10px;
    }

    #menu a {
    text-decoration: none;
    color: #505050;
    padding: 8px 8px 8px 8px;
}

    #menu a:hover {
    color: #42A9FF;
    background-color: #FFF;
}

body{

  overflow-x:hidden;
}

.airbnbimage1intro{
  font-size: 45px;
  /*color: #546A76;*/
  color: #505050;
  font-family: 'Cantarell', sans-serif;
  font-weight: bold;
  float: left;
  position: absolute;
  margin-left: 11.5%;
  margin-top: 13%;

}


#airbnbleftrec{
  height: 5px;
  width: 50px;
  margin-left: 11.8%;
  margin-top: 10%;
  background-color: #ff5a5f;
  float: left;
  position:absolute;
}
#airbnbrightrec{
  height: 5px;
  width: 300px;
  margin-left:17%;
  margin-top: 10%;
  background-color:#505050;
  float: left;
  position:absolute;
}

.airbnbimage1 {
  margin-top:  20%;
  margin-left: 50%;
  position: absolute;

}

.airbnbdate {
  /*color: #e0e0e0;*/
  color: #d6d6d6;
  float: left;
  position: absolute;
  margin-left: -93%;
  margin-top: -68%;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
}

.airbnbparagraph {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  margin-left: -93%;
  margin-top: -61%;
  color: #808080;
  line-height: 30px;

}

.quote1{
  font-style: italic;
  background: none;
  color: #808080;
}

.quote0{
  font-weight: bold;
  background:none;
  font-size: 20px;
  color: #808080;
}

.quote05{
  font-weight: bold;
  background:none;
  font-size: 15px;
  color: #808080;
}



/*
#kivastep1leftrec{
  height: 5px;
  width: 50px;
  margin-left: -69%;
  margin-top: 80px;
  background-color: #49953f;
  float: left;
}
#kivastep1rightrec{
  height: 5px;
  width: 300px;
  margin-left: -60%;
  margin-top: 80px;
  background-color: #808080;
  float: left;
}
*/
.Introduction{
  font-size: 20px;
  color: #808080;
  font-family: 'Cantarell', sans-serif;
  font-weight: bold;
  float: left;
  position: absolute;
  margin-left: -45%;
  margin-top: 0%;

}

.quote06{
  color: #ff5a5f;
  background:none;
  font-style: italic;

}

.quote07{
  color: #ff5a5f;
  background:none;
  font-weight:600;

}
.space{
  margin-bottom: 30%;


}


.introbox{
  margin-left:-20%;
  margin-top: -40%;

}
.role1{
  background: none;
  color:#ff5a5f;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
}

.role {
  font-size: 20px;
  font-family: 'Muli', sans-serif;
  color: #808080;
  font-weight: bold;
  margin-top: 19%;
  margin-left: -59%;
  float:left;

}



.skills{
  font-size: 20px;
  font-family: 'Muli', sans-serif;
  color: #808080;
  font-weight: bold;
  margin-top: 39%;
  margin-left: -59%;
  float:left;
}

.skills1{
  background: none;
  color:#ff5a5f;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
}

.tools{
  font-size: 20px;
  font-family: 'Muli', sans-serif;
  color: #808080;
  font-weight: bold;
  margin-top: 59%;
  margin-left: -59%;
  float:left;

}

.tools1{
  background: none;
  color:#ff5a5f;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
}

.text1{
  margin-left: -55%;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  margin-top: 54%;
  color: #808080;

}

.text2{
  margin-left: -55%;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  margin-top:  20%;
  color: #808080;

}

.text3{
  margin-left: -55%;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  margin-top: 5%;
  color: #808080;

}

.problem{
  position:absolute;
  float:right;
  margin-top: -58%;
  margin-left:-10%;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  color: #808080;
}


.p0{
  background: none;
  color: #808080;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
  font-weight:bold;

}
.p1{
  font-family: 'Muli', sans-serif;
  color: #ff5a5f;
  font-weight: 600;
  background:none;

}

/*.prob1{
  margin-top: 30%;
  margin-left: -63%;
  float:left;

}
.prob1text{
  position:absolute;
  float:right;
  text-align: center;
  margin-top: 82%;
  margin-left:-60%;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  color: #808080;

}

.prob2{
  margin-top: 30%;
  margin-left: 10%;
  float: left;

}

.prob2text{

  float:right;
  text-align: center;
  margin-top: 82%;
  margin-left:-60%;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  color: #808080;

}

.prob3{
  margin-top: 25%;
  margin-left: -46%;
  float: left;

}*/


.problempara{
  color: #808080;

}

.problemstitle{
  position:absolute;
  float:right;
  margin-top: 10%;
  margin-left:-10%;
  font-size: 30px;
  font-family: 'Cantarell', sans-serif;
  font-weight: bold;
  color: #808080;

}

.allprob{
  margin-left: -45%;
  position:absolute;
  margin-top:20%;

}

.centerall{
  /*max-width: 50px;
  margin: auto;*/
  width: 95%;     /* specify a width! */
  margin: 0 auto;

}

.question{
  position:absolute;
  float:right;
  width: 95%;     /* specify a width! */
  margin: 0 auto;
  color: #808080;
  text-align: left;
  background: none;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
  font-weight:bold;
  margin-left: -75%;
  margin-top: 115%;

}
/*
.thinsquare2{
  height: 1.5px;
  width: 90px;
  background-color: #d6d6d6;
  margin-top: 124%;
  margin-left: 6%;
}


.space2{
  margin-bottom: 25%;

}*/

.questtext{
  position:absolute;
  font-weight:normal;
  word-spacing: 1px;
  width: 150%;     /* specify a width! */
  margin: 0 auto;
  margin-top:123%;
  margin-left: -75%;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  color: #808080;
}

.userresearch{
  position:absolute;
  color: #808080;
  width: 150%;     /* specify a width! */
  margin: 0 auto;
  background: none;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
  font-weight:bold;
  margin-left: -75%;
  margin-top: 135%;

}

.userresearchtext{
  position:absolute;
  width: 150%;     /* specify a width! */
  margin: 0 auto;
  margin-top: 143%;
  margin-left:-75%;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
  color: #808080;

}

.quote08{
  color: #ff5a5f;
  font-weight:600;
  background:none;
  width: 150%;     /* specify a width! */
  margin: 0 auto;

}

.surveypic{
  margin-top:170%;
  margin-left: -45%;

}

/*
.companalysis{
  margin-top:5%;
  margin-left:-45%;
}*/


.insight{
  position:absolute;
  width: 150%;     /* specify a width! */
  margin: 0 auto;
  margin-top: 5%;
  margin-left:-75%;
  font-size: 13px;
  font-family: 'Muli', sans-serif;
  color: #808080;

}

.research1{
  position:absolute;
  width: 150%;     /* specify a width! */
  margin: 0 auto;

  margin-top: 10%;
  margin-left:-75%;
  color: #808080;
  text-align: left;
  background: none;
  font-size:14px;
  font-family: 'Muli', sans-serif;
  font-weight:bold;
  background:none;
}

.research1text{
  position:absolute;
  width: 70%;     /* specify a width! */
  margin: 0 auto;

  margin-top: 15%;
  margin-left:-75%;
  font-size: 13px;
  font-family: 'Muli', sans-serif;
  color: #808080;

}

.research2{
  position:absolute;
  width: 70%;     /* specify a width! */
  margin: 0 auto;

  margin-top: 40%;
  margin-left:-75%;
  color: #808080;
  text-align: left;
  font-size:14px;
  font-family: 'Muli', sans-serif;
  font-weight:bold;
  background:none;
}

.research2text{
  position:absolute;
  width: 70%;     /* specify a width! */
  margin: 0 auto;

  margin-top: 45%;
  margin-left:-75%;
  font-size: 13px;
  font-family: 'Muli', sans-serif;
  color: #808080;

}


.research3{
  position:absolute;

  margin-top:10%;
  color: #808080;

  font-size:14px;
  font-family: 'Muli', sans-serif;
  font-weight:bold;
  background:none;
  width: 70%;     /* specify a width! */
  margin: 10 auto;
}

.research3text{
  position:absolute;
  margin-top: 15%;
  font-size: 13px;
  font-family: 'Muli', sans-serif;
  color: #808080;
  width: 70%;     /* specify a width! */
  margin: 10 auto;

}

.research4{
  position:absolute;
  margin-top:40%;
  color: #808080;
  font-size:14px;
  font-family: 'Muli', sans-serif;
  font-weight:bold;
  background:none;
  width: 70%;     /* specify a width! */
  margin: 10 auto;
}

.research4text{
  position:absolute;
  margin-top:45%;
  font-size: 13px;
  font-family: 'Muli', sans-serif;
  color: #808080;
  width: 70%;     /* specify a width! */
  margin: 10 auto;

}

.essence{
  position:absolute;
  margin-left:-75%;
  margin-top: 60%;
  width: 150%;     /* specify a width! */
  margin: 10 auto;
  color: #808080;

  background: none;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
  font-weight:bold;



}

.essencetext{
  position:absolute;
  margin-left:-75%;
  margin-top: 70%;
  width: 150%;     /* specify a width! */
  margin: 10 auto;
  color: #808080;

  font-size:13px;
  font-family: 'Muli', sans-serif;
  background:none;
}

.quote09{
  font-style:italic;
  background:none;
  color: #808080;

}

.goals{
  position:absolute;
  float:right;
  margin-top: 35%;
  margin-left:-75%;
  color: #808080;
  text-align: left;
  background: none;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
  font-weight:bold;

  width: 70%;     /* specify a width! */
  margin: 10 auto;

}

.allgoals{
  position:absolute;
  float:right;
  margin-top: 40%;
  margin-left:-79%;
  color: #808080;
  text-align: left;
  font-size:13px;
  font-family: 'Muli', sans-serif;
  font-weight:bold;
  background:none;
  width: 70%;     /* specify a width! */
  margin: 10 auto;

}

.objtext{

  font-weight:normal;
  color: #808080;
}

ol.b{
  list-style-type: lower-alpha;
}


ol.c{
  list-style-type: lower-alpha;
}


ol.d{
  list-style-type: lower-alpha;
}


ol.e{
  list-style-type: lower-alpha;
}

.designimp{
  position:absolute;
  float:right;
  margin-top: 120%;
  margin-left:-75%;
  color: #808080;
  text-align: left;
  background: none;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
  font-weight:bold;

  width: 70%;     /* specify a width! */
  margin: 10 auto;

}

.designimpt{
  position:absolute;
  margin-top:130%;
  margin-left: -75%;
  color: #808080;
  font-size:14px;
  font-family: 'Muli', sans-serif;

  background:none;
  width: 150%;     /* specify a width! */
  margin: 10 auto;

}



.constraints{
  position:absolute;
  float:right;
  margin-top: 225%;
  margin-left:-75%;
  color: #808080;
  text-align: left;
  background: none;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
  font-weight:bold;


}

ul.b{
  position:absolute;
  float:right;
  margin-top: 233%;
  margin-left:-75%;
  color: #808080;
  text-align: left;
  font-size:13px;
  font-family: 'Muli', sans-serif;
  font-weight:bold;
  background:none;
  width: 70%;     /* specify a width! */
  margin: 10 auto;

}



.userjourney{
  position:absolute;
  float:right;
  margin-top: 165%;
  margin-left:-75%;
  color: #808080;
  text-align: left;
  background: none;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
  font-weight:bold;
}

.userjourneypic{
  position: absolute;
  margin-top:180%;
  margin-left:-32%;



}

.storyboard{
  position: absolute;
  margin-top:350%;
  margin-left:-36%;

}

.midfi{
  position:absolute;
  float:right;
  margin-top: 340%;
  margin-left:-75%;
  color: #808080;
  text-align: left;
  background: none;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
  font-weight:bold;

}

.midfitext{
  position:absolute;
  float:left;
  margin-left:-37%;
  margin-top:340%;
  color: #808080;
  text-align: left;
  font-size:13px;
  font-family: 'Muli', sans-serif;
  width: 90%;     /* specify a width! */
  margin: 10 auto;
  background:none;

}


.homepage{
  position: absolute;
  margin-top:365%;
  margin-left:-37%;

}

.homepgtext{
  font-family: 'Mulli', sans-serif;
  color: #bababa;
  font-style: italic;
  margin-top: 430%;
  text-align: center;
  margin-left: -85%;
}

.artcategory{
  position: absolute;
  margin-top:5%;
  margin-left:-37%;

}

.arttext{
  font-family: 'Mulli', sans-serif;
  color: #bababa;
  font-style: italic;
  margin-top: 70%;
  margin-left: -10%;

}

.limed{
  position: absolute;
  margin-top:5%;
  margin-left:-37%;

}

.limedtext{
  font-family: 'Mulli', sans-serif;
  color: #bababa;
  font-style: italic;
  margin-top: 70%;
  margin-left: -10%;


}

.limed2{
  position: absolute;
  margin-top:5%;
  margin-left:-37%;

}

.limedtext2{
  font-family: 'Mulli', sans-serif;
  color: #bababa;
  font-style: italic;
  margin-top: 70%;

  margin-left: -10%;
}


.highfi{
  position:absolute;
  float:right;
  margin-top: 0%;
  margin-left:-75%;
  color: #808080;

  background: none;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
  font-weight:bold;
  width: 70%;     /* specify a width! */
  margin: 10 auto;

}


.artcategoryh{
  position: absolute;
  margin-top:10%;
  margin-left:-37%;

}

.arttexth{
  font-family: 'Mulli', sans-serif;
  color: #bababa;
  font-style: italic;
  margin-top: 73%;
  margin-left: -78%;
  text-align: center;

}

.arttexth2{
  position:absolute;
  float:left;
  margin-top: 5%;
  margin-left: -37%;
  color: #808080;
  text-align: left;
  font-size:13px;
  font-family: 'Muli', sans-serif;
  background:none;
  width: 90%;     /* specify a width! */
  margin: 10 auto;

}

.homepageh{
  position: absolute;
  margin-top:30%;
  margin-left: -37%;

}

.homepgtexth{
  font-family: 'Mulli', sans-serif;
  color: #bababa;
  font-style: italic;
  margin-top: 93%;
  margin-left: -10%;
}

.homepgexp{
  position:absolute;
  float:left;
  margin-left:-37%;
  margin-top:5%;
  color: #808080;
  text-align: left;
  font-size:13px;
  font-family: 'Muli', sans-serif;
  width: 90%;     /* specify a width! */
  margin: 10 auto;
  background:none;


}

.limedh{
  position: absolute;
  margin-top:18%;
  margin-left:-37%;

}

.limedtexth{
  font-family: 'Mulli', sans-serif;
  color: #bababa;
  font-style: italic;
  margin-top: 83%;
  margin-left: -16%;


}

.limed2h{
  position: absolute;
  margin-top:5%;
  margin-left: -37%;

}

.limedtext2h{
  font-family: 'Mulli', sans-serif;
  color: #bababa;
  font-style: italic;
  margin-top: 68%;
  margin-left: -20%;

}

.limedtext2hh{
  position:absolute;
  float:left;
  margin-top: 5%;
  margin-left: -37%;
  color: #808080;
  text-align: left;
  font-size:13px;
  font-family: 'Muli', sans-serif;
  background:none;
  width: 90%;     /* specify a width! */
  margin: 10 auto;


}

.bonus{
  position:absolute;
  width: 150%;     /* specify a width! */
  margin: 0 auto;

  margin-top: 30%;
  margin-left:-75%;
  color: #808080;
  text-align: left;
  background: none;
  font-size:14px;
  font-family: 'Muli', sans-serif;
  font-weight:bold;
  background:none;

}

.bonustext{

  position:absolute;
  float:left;
  margin-top: 30%;
  margin-left: -37%;
  color: #808080;
  text-align: left;
  font-size:13px;
  font-family: 'Muli', sans-serif;
  background:none;
  width: 90%;     /* specify a width! */
  margin: 10 auto;
}

.bonuspic{
  position: absolute;
  margin-top:60%;
  margin-left: -75%;


}

.reflections{
  position:absolute;
  float:right;
  margin-top: 125%;
  margin-left:-75%;
  color: #808080;

  background: none;
  font-size:20px;
  font-family: 'Cantarell', sans-serif;
  font-weight:bold;
  width: 70%;     /* specify a width! */
  margin: 10 auto;


}

.reflectparagraph{
  position:absolute;
  float:left;
  margin-top: 125%;
  margin-left: -37%;
  color: #808080;
  text-align: left;
  font-size:13px;
  font-family: 'Muli', sans-serif;
  background:none;
  width: 90%;     /* specify a width! */
  margin: 10 auto;
}
