@charset "utf-8";
/* CSS Document */
/*.logo-square {
  height: 120px;
	width: 120px;
  position: absolute;
  text-align: center;
  align-items: center;
  left: 3%;
  z-index: 10;
  top:3%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  line-height: 50px;
  font-size:24px;
  font-weight:bold;
  letter-spacing:0px;
	background: #42A9FF;
  color: #505050;
  font-family: 'Nanum Gothic', sans-serif;
}

.logo-square:hover {
  background-color: black;
  color: white;
}*/

 @font-face { font-family: Varta; src: url('Varta-ExtraBold.ttf'); }

@font-face { font-family: Khula; src: url('Khula-Light.ttf'); }

@font-face { font-family: Khula; src: url('Khula-Regular.ttf'); }

@font-face { font-family: Khula; src: url('Khula-Bold.ttf'); }


@font-face { font-family: Khula; src: url('Khula-SemiBold.ttf'); }



@font-face { font-family: Gadugi; src: url('Gadugi-Regular.ttf'); }



@font-face { font-family: Open-Sans; src: url('Open Sans-Regular.ttf'); }

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  head{
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  head {
    flex-direction: column;
  }
}
/*
#slideSource {
  opacity: 1;
  transition: opacity 1s;
}

#slideSource.fade {
  opacity: 0;
}*/

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


.container
{
    opacity:0;
}


/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 3px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 3px;
  background: #4caf50;
  width: 0%;
}



.initials {
  position: absolute;
  z-index: 10;
  top:12%;
  margin-left: 10%;
  display: flex;
  line-height: 50px;
  font-size:45px;
  font-weight:500;
  letter-spacing:0px;

  color: #505050;
  font-family: 'Nanum Gothic', sans-serif;
  text-decoration: none;
}
.initials:hover {
  -webkit-text-stroke: 1px #42A9FF;
  color: white;
  text-decoration: none;
}


.navbar{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
font-size: 20px;
  list-style: none;
margin-right:5%;
  word-spacing: 5%;



}

.navbar-nav > li{
  padding-left:25px;
  padding-right:25px;

}

.navbar-toggler {
  border: 0px solid transparent;
  border-radius: 0.25rem;

}



#airbnbleftrec{
  height: 5px;
  width: 50px;
  margin-top:15%;
  background-color: #3a7bd5;
  margin-left:-40%;
  position:relative;
}
#airbnbrightrec{
  height: 5px;
  width: 300px;
  margin-top:15%;
  background-color:#505050;
  margin-left:-120%;
  position:relative;
}

.airbnbimage1intro{
  font-size: 40px;
  /*color: #546A76;*/

  font-family: 'Khula', sans-serif;
  font-weight: 600;

  margin-left: 4%;
  margin-top: 3%;

}


.airbnbimage1 {
  margin-top:10%;
  position: relative;
}

.airbnbdate {
  /*color: #e0e0e0;*/
  color: #7d7d7f;
  margin-top:10%;
  position: relative;
  margin-left: -28%;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}


.airbnbparagraph {
  font-size: 16px;
  font-family: 'Khula', sans-serif;
  margin-top:-67%;
margin-left:9%;
  color:#3b3b3b;
position: relative;
  line-height: 30px;

}

.quote1{
  font-style: italic;
  background: none;
  color: #3b3b3b;

  font-family: 'Khula', sans-serif;
}

.quote0{
  font-weight: 700;
  background:none;

  font-family: 'Khula', sans-serif;
  font-size: 20px;
  color:#3b3b3b;
}

.quote05{
  font-weight: bold;
  background:none;
  font-size: 15px;
  color: #3b3b3b;
}

.quote07{
  color: #ff5a5f;
  background:none;
  font-weight:800;

}

.subhead{
  font-weight: 800;
  margin-left:12%;
  color:#b9babb;

  margin-top:20%;
    font-size: 13px;

  font-family: 'Gadugi', sans-serif;
}
.subhead2{
  font-weight: 800;

  color:#b9babb;
margin-top:20%;
    font-size: 13px;

  font-family: 'Gadugi', sans-serif;
}

.subhead3{
  font-weight: 400;
margin-left:12%;
    font-size: 15px;
  font-family: 'Gadugi', sans-serif;
  margin-top:5%;
}

.subhead4{
  font-weight: 400;

    font-size: 15px;
  font-family: 'Gadugi', sans-serif;
    margin-top:3%;
}


.subhead5{
  font-weight: 800;
  margin-left:12%;
  color:#b9babb;

  margin-top:10%;
    font-size: 13px;

  font-family: 'Gadugi', sans-serif;
}
.subhead6{
  font-weight: 800;

  color:#b9babb;
  margin-top:10%;

    font-size: 13px;

  font-family: 'Gadugi', sans-serif;
}

.subhead7{
  font-weight: 400;
margin-left:12%;
    font-size: 15px;
  font-family: 'Gadugi', sans-serif;
  margin-top:5%;
}

.subhead8{
  font-weight: 400;

    font-size: 15px;
  font-family: 'Gadugi', sans-serif;
    margin-top:3%;
}

.question{

    font-weight: 700;
    margin-left:12%;
    margin-top:20%;
      color: #3b3b3b;

      font-size: 25px;
      position:relative;
    font-family: 'Khula', sans-serif;

}
.question2{
  margin-top:12%;
  color: #3b3b3b;
    font-family: 'Khula', sans-serif;
    font-size:15px;
}

.sig{

    font-weight: 700;
    margin-left:12%;
    margin-top:20%;
      color: #3b3b3b;

      font-size: 25px;
      position:relative;
    font-family: 'Khula', sans-serif;

}
.sig2{
  margin-top:12%;
  color: #3b3b3b;
    font-family: 'Khula', sans-serif;
    font-size:15px;
}
.user{
  font-weight: 700;
  margin-left:12%;

    color: #3b3b3b;

    font-size: 25px;
    position:relative;
  font-family: 'Khula', sans-serif;

}
.userpara{
  color: #3b3b3b;
    font-family: 'Khula', sans-serif;
    font-size:18px;
    margin-left:-3%;

}
.one{
  background:none;
  -webkit-text-stroke: 0.5px  #3a7bd5;
  color: white;

}
.userpara2{
position:relative;

color: #3b3b3b;
font-size:20px;
font-family: 'Khula', sans-serif;
margin-left:-3%;
background:none;
  font-weight:600;
margin-top:5%;

}

.userpara3{
  color: #3b3b3b;
    font-family: 'Khula', sans-serif;
    font-size:15px;
    margin-top:5%;
    margin-left:-3%;

}

.userpara4{
  color: #3b3b3b;
    font-family: 'Khula', sans-serif;
    font-size:18px;
    margin-top:5%;
    margin-left:-3%;
}

.subhead66{
  font-weight: 800;
  margin-top:5%;
  margin-left:-3%;
  color:#b9babb;

    font-size: 15px;

  font-family: 'Gadugi', sans-serif;
}

.subhead77{

  margin-top:5%;
  margin-left:-3%;
    color: #3b3b3b;
      font-family: 'Khula', sans-serif;
      font-size:15px;
  }


  .quotes{
    font-weight: 700;
    margin-left:12%;
    margin-top:10%;
      color: #3b3b3b;

      font-size: 25px;
      position:relative;
    font-family: 'Khula', sans-serif;

  }

.inter{

  margin-top:5%;
  margin-left:-10%;
}

.map{

    margin-top:5%;
    margin-left:-3%;
  }

  .final{


        margin-top:10%;
        margin-left:-3%;
      }

      .storyboard{


            margin-top:7%;
            margin-left:-3%;
          }


.highfiima{



        margin-top:10%;
        margin-left:-3%;



}




  .quotes1{
    font-weight: 700;
    margin-left:12%;
    margin-top:12%;
      color: #3b3b3b;

      font-size: 25px;
      position:relative;
    font-family: 'Khula', sans-serif;

  }

  .subhead661{
    font-weight: 800;
    margin-top:10%;
    margin-left:-3%;
    color:#b9babb;

      font-size: 15px;

    font-family: 'Gadugi', sans-serif;
  }
  .subhead778{

    margin-top:7%;
    margin-left:-3%;
      color: #3b3b3b;
        font-family: 'Khula', sans-serif;
        font-size:15px;
    }
