@charset "utf-8";
/* CSS Document */
.initials {
  position: absolute;
  z-index: 10;
  top:12%;
  margin-left: 5%;
  display: flex;
  line-height: 50px;
  font-size:45px;
  font-weight:bold;
  letter-spacing:0px;
  color: #505050;
  font-family: 'Nanum Gothic', sans-serif;
}
.initials:hover {
  -webkit-text-stroke: 1px #42A9FF;
  color: white;
}



#menu {
    width: 550px;
    height: 35px;
    font-size: 20px;
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    text-align: center;
    list-style: none;
    margin-left: 60%;
    margin-top: 8%;
    word-spacing: 50px;
}

    #menu ul {
      height: auto;
      padding: 8px 0px;
      margin: 0px;
    }

    #menu li {
    display: inline;
    padding: 10px;
    }

    #menu a {
    text-decoration: none;
    color: #505050;
    padding: 8px 8px 8px 8px;
}

    #menu a:hover {
    color: #FF8E70;
    background-color: #FFF;
}


.head{
  max-width: 100%;
  overflow-x: hidden;

}

body{

    overflow-x: hidden;
}
.hcdimage1intro{
  font-size: 45px;
  /*color: #546A76;*/
  color: #505050;
  font-family: 'Cantarell', sans-serif;
  font-weight: bold;
  float: left;
  position: absolute;
  margin-left: 11.5%;
  margin-top: 13%;
    overflow:hidden;

}


#hcdleftrec{
  height: 5px;
  width: 50px;
  margin-left: 11.8%;
  margin-top: 10%;
  background-color:  #FF8E70;
  float: left;
  position:absolute;
    overflow:hidden;
}
#hcdrightrec{
  height: 5px;
  width: 300px;
  margin-left:17%;
  margin-top: 10%;
  background-color:#505050;
  float: left;
  position:absolute;
    overflow:hidden;
}

.hcdimage1 {
  margin-top:  25%;
  margin-left: 60%;
  position: absolute;
    overflow:hidden;

}


.hcddate {

  color: #d6d6d6;
  float: left;
  position: absolute;
  margin-left: 12%;
  margin-top: 23%;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
    overflow:hidden;
}

.hcdparagraph {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  margin-left: 12%;
  margin-top: 26%;
  color: #808080;
  line-height: 30px;
  overflow: hidden;
    overflow:hidden;

}

.quote1{
  font-style: italic;
  background: none;
  color: #808080;
    overflow:hidden;
}

.quote0{
  font-weight: bold;
  background:none;
  font-size: 20px;
  color: #808080;
    overflow:hidden;
}

.quote05{
  font-weight: bold;
  background:none;
  font-size: 15px;
  color: #808080;
    overflow:hidden;
}


.bold{
  font-weight: 400;
  background: none;
  overflow:hidden;
}


.team{
  position:absolute;
  color: #808080;
  text-align: left;
  font-size:13px;

  background:none;
  width: 70%;
  margin: 10 auto;
  margin-top: -5%;
  margin-left:12%;
  font-family: 'Muli', sans-serif;

}


.bold0{
font-weight: bold;
font-size: 20px;
background:none;
color:  #FF8E70;
}



.bold1{
  font-weight:600;
  font-size:13px;
  background:none;


}

.goals{
  font-weight: bold;
  font-size: 20px;
  margin-left: 35%;
  background:none;
  color: #FF8E70;;
  margin-top:-8%;
  position:absolute;
  font-family: 'Muli', sans-serif;
  width: 70%;
  margin: 10 auto;
}

.goalspara{
  position:absolute;
  margin-top:-5%;
  color: #808080;
  font-size:14px;
  font-family: 'Muli', sans-serif;

  background:none;
  margin-left:35%;
  width: 30%;
  margin: 10 auto;
}

.constraints{
  font-weight: bold;
  font-size: 20px;
  margin-left: 35%;
  background:none;
  color: #FF8E70;;
  margin-top:6%;
  position:absolute;
  font-family: 'Muli', sans-serif;
  width: 70%;
  margin: 10 auto;
}

.constraintspara{
  position:absolute;
  margin-top:9%;
  color: #808080;
  font-size:14px;
  font-family: 'Muli', sans-serif;

  background:none;
  margin-left:35%;
  width: 30%;
  margin: 10 auto;
}


.question{
  font-weight: bold;
  font-size: 20px;
  margin-left: 12%;
  background:none;
  color: #FF8E70;;
  margin-top: 14%;
  position:absolute;
  font-family: 'Muli', sans-serif;
  width: 70%;
  margin: 10 auto;
}

.questionpara{
  position:absolute;
  color: #808080;
  text-align: left;
  font-size:15px;

  background:none;
  width: 55%;
  margin: 10 auto;
  margin-top: 17%;
  margin-left:12%;
  font-family: 'Muli', sans-serif;

}

.bold2{

    font-weight:bold;
    font-size:15px;
    background:none;

}


.sig{
  font-weight: bold;
  font-size: 20px;
  margin-left: 12%;
  background:none;
  color: #FF8E70;;
  margin-top: 21%;
  position:absolute;
  font-family: 'Muli', sans-serif;
  width: 70%;
  margin: 10 auto;
}

.sigpara{
  position:absolute;
  color: #808080;
  text-align: left;
  font-size:15px;

  background:none;
  width: 55%;
  margin: 10 auto;
  margin-top: 25%;
  margin-left:12%;
  font-family: 'Muli', sans-serif;
  width:55%;
  margin: 10 auto;

}

.bold2{

    font-weight:bold;
    font-size:15px;
    background:none;

}

#problems1{

  margin-left: 25%;
  margin-top: 35%;
  position:absolute;

}

.userr{
  font-weight: bold;
  font-size: 20px;
  margin-left: 12%;
  background:none;
  color: #FF8E70;;
  margin-top: 60%;
  position:absolute;
  font-family: 'Muli', sans-serif;
  width: 70%;
  margin: 10 auto;

}
.userpara{
  position:absolute;
  color: #808080;
  text-align: left;
  font-size:15px;
  font-weight:600;
  background:none;
  width: 55%;
  margin: 10 auto;
  margin-top: 65%;
  margin-left:12%;
  font-family: 'Muli', sans-serif;

}
.one{
  background:none;
  -webkit-text-stroke: 0.5px  #FF8E70;
  color: white;

}

.userpara2{

  position:absolute;
  margin-top:68%;
  color: #808080;
  font-size:20px;
  font-family: 'Muli', sans-serif;
  text-align:left;
  background:none;
    font-weight:600;
  margin-left:12%;
  width: 55%;
  margin: 10 auto;
}


.userpara3{

  position:absolute;
  margin-top:71%;
  color: #808080;
  font-size:14px;
  font-family: 'Muli', sans-serif;
  text-align:left;
  background:none;
  margin-left:12%;
  width: 50%;
  margin: 10 auto;
}

.userpara4{
  position:absolute;
  color: #808080;
  text-align: left;
  font-size:15px;
  font-weight:600;
  background:none;
  width: 55%;
  margin: 10 auto;
  margin-top: 81%;
  margin-left:12%;
  font-family: 'Muli', sans-serif;
}

.analogous{
  color: #808080;
  position:absolute;
  font-family: 'Muli', sans-serif;
  width: 70%;
  margin: 10 auto;
  font-size: 13px;
  margin-top:85%;
  margin-left:12%;
  font-weight:600;


}

.alist{

  position:absolute;
  margin-top:87%;
  color: #808080;
  font-size:14px;
  font-family: 'Muli', sans-serif;
  text-align:left;
  background:none;
  margin-left:12%;
  width: 50%;
  margin: 10 auto;

}

.issues{
  color: #808080;
  position:absolute;
  font-family: 'Muli', sans-serif;
  width: 70%;
  margin: 10 auto;
  font-size: 13px;
  margin-top:101%;
  margin-left:12%;
  font-weight:600;

}

.issuespara{

  position:absolute;
  margin-top:103%;
  color: #808080;
  font-size:14px;
  font-family: 'Muli', sans-serif;
  text-align:left;
  background:none;
  margin-left:12%;
  width: 50%;
  margin: 10 auto;

}

.step3{

    position:absolute;
    color: #808080;
    text-align: left;
    font-size:15px;
    font-weight:600;
    background:none;
    margin-top: 113%;
    margin-left:12%;
    font-family: 'Muli', sans-serif;
}

.quotes{
  color: #808080;
  position:absolute;
  font-family: 'Muli', sans-serif;
  width: 70%;
  margin: 10 auto;
  font-size: 20px;
  margin-top:118%;
  margin-left:12%;
  font-weight:600;


}

.quotepara{
  position:absolute;
  margin-top:122%;
  color: #808080;
  font-size:14px;
  font-family: 'Muli', sans-serif;
  text-align:left;
  background:none;
  margin-left:12%;
  width: 50%;
  margin: 10 auto;


}

.parabold{

  font-weight:600;
  background:none;
  color: #808080;
}

.inter{
  color: #808080;
  position:absolute;
  font-family: 'Muli', sans-serif;
  width: 70%;
  margin: 10 auto;
  font-size: 20px;
  margin-top:130%;
  margin-left:12%;
  font-weight:600;


}

.interima{
  margin-top:135%;
  margin-left:10%;

}


.step4{

    position:absolute;
    color: #808080;
    text-align: left;
    font-size:15px;
    font-weight:600;
    background:none;
    margin-top:3%;
    margin-left:12%;
    font-family: 'Muli', sans-serif;
}

.affinity{
  color: #808080;
  position:absolute;
  font-family: 'Muli', sans-serif;
  width: 70%;
  margin: 10 auto;
  font-size: 20px;
  margin-top:7%;
  margin-left:12%;
  font-weight:600;


}

.map{
  margin-top:12%;
  margin-left:12%;

}

.idea{
  color: #808080;
  position:absolute;
  font-family: 'Muli', sans-serif;
  width: 70%;
  margin: 10 auto;
  font-size: 20px;
  margin-top:3%;
  margin-left:12%;
  font-weight:600;


}

.final{
  margin-top:8%;
  margin-left:12%;

}

.userjourney{
  color: #808080;
  position:absolute;
  font-family: 'Muli', sans-serif;
  width: 70%;
  margin: 10 auto;
  font-size: 20px;
  margin-top:3%;
  margin-left:12%;
  font-weight:600;


}

.storyboard{
  margin-top:8%;
  margin-left:12%;

}



.highfi{
  color: #808080;
  position:absolute;
  font-family: 'Muli', sans-serif;
  width: 70%;
  margin: 10 auto;
  font-size: 20px;
  margin-top:3%;
  margin-left:12%;
  font-weight:600;


}

.highfiima{
  margin-top:8%;
  margin-left:12%;

}

.rf{
  color: #808080;
  position:absolute;
  font-family: 'Muli', sans-serif;
  width: 70%;
  margin: 10 auto;
  font-size: 20px;
  margin-top:3%;
  margin-left:12%;
  font-weight:600;


}
.rf1{
position:absolute;
margin-top:7%;
color: #808080;
font-size:14px;
font-family: 'Muli', sans-serif;
text-align:left;
background:none;
margin-left:12%;
width: 50%;
margin: 10 auto;
}

.working1{
width: 50%;
margin-top:45%;
margin-left: 12%;
margin: 10 auto;
position:absolute;
}

.working2{
width: 50%;
margin-top:45%;
margin-left:38%;
margin: 10 auto;
position:absolute;
}

.working3{
width: 50%;
margin-top:63%;
margin-left: 12%;
margin: 10 auto;
position:absolute;
}

.working4{
width: 50%;
margin-top:63%;
margin-left: 38%;
margin: 10 auto;
position:absolute;
}
